<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.941676969211-dph65l8i2v5fqvqdp6em1chiiu8aivup</string>
			</array>
		</dict>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>fb567272388952363</string>
            </array>
        </dict>
	</array>
    
    <key>FacebookAppID</key>
    <string>567272388952363</string>
    
    <key>FacebookClientToken</key>
    <string>99e04f327bb406677dfe7f0b4fd86e7a</string>
    
    <key>FacebookDisplayName</key>
    <string>NewsApp</string>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
    
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
</dict>
</plist>
